@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso WebApp2</h1>
    <p class="lead">asp.NET Hello World Test Web Site 💜</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>What's in your Token?</p>
        <p><a class="btn btn-default" href="https://login.microsoftonline.com/6de44a5e-2439-436c-a8c4-851dbb7e9e3d/oauth2/v2.0/authorize?Client_ID=593a6436-fa5c-48a7-bce8-7dd5a2936007&&nonce=123&redirect_uri=https://jwt.ms&scope=openid&response_type=token">Find Out &raquo;</a></p>
</div>